language: php

php:
  - 5.5
  - 5.6

before_script:
  - cd ..
  - git clone git://github.com/uthando-cms/uthando.git
  - git clone git://github.com/uthando-cms/uthando-common.git
  - cd uthando
  - composer install
  - cp -R ../uthando-dompdf ./module/UthandoDomPdf
  - cp -R ../uthando-common ./module/UthandoCommon
  - cd module/UthandoDomPdf/test

script:
  - phpunit

after_script:
  - cd ../../../
  - php vendor/bin/test-reporter --coverage-report=build/logs/clover-UthandoDomPdf.xml
